<?xml version='1.0' encoding='utf-8'?>
<widget id="com.todo.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ToDoApp</name>
    <description>
      A sample ToDo app built on top of the Samson.JS framework.
    </description>
    <author email="sam@samdelgado.com" href="http://offcolorapp.com">
      Sam Delgado
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="http://*" />
    <allow-navigation href="https://*" />
    <allow-intent href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-crosswalk-webview" spec="https://github.com/SamDelgado/cordova-plugin-crosswalk-webview.git" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="cordova-plugin-device" spec="^1.0.0" />
    <plugin name="cordova-plugin-console" spec="^1.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="^1.0.0" />
    <plugin name="cordova-plugin-keyboard" spec="^0.1.2" />
    <preference name="Fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="KeyboardShrinksView" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="AutoHideSplashScreen" value="false" />
    <feature name="Keyboard">
        <param name="ios-package" onload="true" value="CDVKeyboard" />
    </feature>
</widget>
