
.add-new-todo-box
  form(id="new-todo-form")
    textarea#new-todo-textarea(rows="1" placeholder="Add a new ToDo Item here..." required autofocus) #{todo_item}
    #new-todo-submit-button Add ToDo Item
