
.app-info This simple app will allow you to manage a ToDo List. Hit the menu button to navigate to the "Add ToDos" or "View ToDos" pages. Any ToDo items you add will be stored on your device, so that you can access them even when you are offline.
