
#samson_alerts_container {
  position: absolute;
  top: 60px; right: 0; bottom: 0; left: 0;
  text-align: center;
  z-index: 9;
}

.samson_alert {
  width: 100%;
  padding: 2px 8px 2px 8px;
  font-size: 1.3rem;
  line-height: 1.4;
  text-align: center;
  background-color: blue;
  color: #fff;
  max-height: 0;
  opacity: 0.5;
  overflow: hidden;
  transition: all 0.6s linear;
}

.samson_alert.show {
  max-height: 100px;
  opacity: 1;
}
