$defaultAmount: 100%;
$defaultDuration: .4s;
$defaultTimingFunction: ease-in-out;

@mixin animation($name, $duration: $defaultDuration, $timingFunction: $defaultTimingFunction) {
  animation: $name $duration $timingFunction;
}

.move-to-top { @include animation(moveToTop); }
.move-from-top { @include animation(moveFromTop); }

.move-to-bottom { @include animation(moveToBottom); }
.move-from-bottom { @include animation(moveFromBottom); }

.move-to-left { @include animation(moveToLeft); }
.move-from-left { @include animation(moveFromLeft); }

.move-to-right { @include animation(moveToRight); }
.move-from-right { @include animation(moveFromRight); }

.scale-out { @include animation(scaleOut); }
.scale-in { @include animation(scaleIn); }

.fade-out { @include animation(fadeOut); }
.fade-in { @include animation(fadeIn); }

@keyframes moveToTop {
  to {
    transform: translateY(-$defaultAmount);
  }
}

@keyframes moveFromTop {
  from {
    transform: translateY(-$defaultAmount);
  }
}

@keyframes moveToBottom {
  to {
    transform: translateY($defaultAmount);
  }
}

@keyframes moveFromBottom {
  from {
    transform: translateY($defaultAmount);
  }
}

@keyframes moveToLeft {
  to {
    transform: translateX(-$defaultAmount);
  }
}

@keyframes moveFromLeft {
  from {
    transform: translateX(-$defaultAmount);
  }
}

@keyframes moveToRight {
  to {
    transform: translateX($defaultAmount);
  }
}

@keyframes moveFromRight {
  from {
    transform: translateX($defaultAmount);
  }
}

@keyframes scaleOut {
  to {
    opacity: 0;
    transform: scale(.1);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(.1);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
